*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2efea;
  max-height: 100vh;
}
/* #user{
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
} */
.first {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  transition: all 1.2s ease;
}
.first h1 {
  color: white;
  background-color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-weight: 900;
}
.first h2 {
  color: white;
  background-color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  letter-spacing: 4px;
}
.first form {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.first form input,
button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.first form button {
  background-color: rgb(11, 255, 11);
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 900;
  width: 16rem;
  transition: all .5s ease;
}
.first form button:hover {
  background-color: #00eaf7;
  transform: translateY(0.2rem);
  color: white;
  letter-spacing: 4px;
}
.first form input {
  width: 16rem;
}

.div-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px;

}
.div-btn span {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 3px;
}
.div-btn button {
  border: none;
  background-color: #403d58;
  color: #f2efea;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  transition: all 2s ease-in-out;
}
.content {
  padding: 80px 25px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.image .targt {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
.image img:hover {
  cursor: pointer;
}

/* progress bar */
.progressbar {
  width: 80%;
  margin: 0 auto;
  border: solid 3px #000;
  border-radius: 1rem;
}
.progressbar .inner {
  height: 3rem;
  border-radius: 1rem;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 15s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}
@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #0f0;
  }
  25% {
    background: rgb(93, 148, 37);

    width: 75%;
  }
  50% {
    background: rgb(125, 134, 47);
    width: 50%;
  }
  75% {
    background: rgb(245, 192, 2);
    width: 25%;
  }
  100% {
    width: 0%;
    background: #f00;
  }
}
/* end progress bar */
